body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}

.usuario{
    padding: 0;
    margin: 0;
}
.usuario img{
    margin: 0; 
}
.usuario p {
    margin: 1px; 
    font-size: 12px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 1em;
    text-align: center;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.class-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
